{{define "layout"}}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>RudigoNews Admin | Rudigo News offers Latest News, Jobs Update, Business Tips, and Latest Tech News</title>
  <meta name="description" content="Rudigo News offers Latest News, Jobs Update, Business Tips, and Latest Tech News">
  <meta name="author" content="RudigoNews">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="" />
  <link rel="icon" href="/static/images/rudigonewsicon.ico" type="image/x-icon">
  <meta name='robots' content='nofollow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

  <meta property="og:title"
    content="Rudigonews-Rudigo News offers Latest News, Jobs Update, Business Tips, and Latest Tech News">
  <meta property="og:site_name" content="RudigoNews">
  <meta property="og:url" content="/">
  <meta name="twitter:site" content="@rudigonews">
  <meta name="twitter:title" content="@rudigonews">
  <meta name="twitter:description"
    content="Rudigo News offers Latest News, Jobs Update, Business Tips, and Latest Tech News">
  <meta name="twitter:creator" content="@rudigonews">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:label1" content="Owned by">
  <meta name="twitter:data1" content="@rudigonews">



  <!-- Template CSS -->
  <link rel="stylesheet" href="/admin-assets/css/style-starter.css">

  <!-- google fonts -->
  <link rel='dns-prefetch' href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap"
    rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
  <section>
    <!-- sidebar menu start -->
    {{template "sidebar" .}}
    <!-- //sidebar menu end -->
    <!-- header-starts -->
    {{template "header" .}}
    <!-- //header-ends -->
    <!-- main content start -->
    <div class="main-content">
      <!-- content -->
      <div class="container-fluid content-top-gap">
        <!-- card heading -->
        {{template "content" .}}

      </div>
      <!-- //content -->
    </div>
    <!-- main content end-->
  </section>
  <!--footer section start-->
  {{template "footer" .}}
{{end}}