{{define "content"}}
<div class="w3l-about1 card card_border p-lg-5 p-3 mb-4">
      <div class="card-body py-3 p-0">
        <h3 class="block__title mb-lg-4">Not Found</h3>
        <div class="row cwp23-content">
         <p>The Page you seek is not in our database :(</p>
          </div>
          
        </div>
      </div>
    </div>
{{end}}