{{define "content"}}
<div class="card card_border mb-5">
          <div class="cards__heading">
            <h3>All Posts</h3>
          </div>
          <div class="card-body">
            <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">
        <small>Check to remove</small><br>
        <small style="color: red;">Delete is Irreversible</small>
      </th>
      <th scope="col-2">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Comments</th>
        <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {{range $k, $post := .Articles}}
     	<tr>
      <th scope="row">
        <div class="form-check">
          <form method="POST" action="/admin/delete">
              <input 
              class="form-check-input"
              type="checkbox"
              value="{{$post.ID}}"
              name="checkbox" 
              onchange="this.form.submit()">
              <input type="hidden" name="postId" value="{{$post.ID.Hex}}"></input>
          </form>
      </div>
      </th>
     <td>{{$post.Title}}<br>
       <small>{{$post.Category}}</small>
     </td>
      <td>{{$post.Author}}</td>
      <td>{10}</td>
      <td>{{$post.DatePublished.Format "Jan 02, 2006 15:04"}}</td>
    </tr>
    {{end}}
    
  </tbody>
</table>
          </div>
        </div>
     
{{end}}