{{define "layout"}}
<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{.Page.Title}} - RudigoNews</title>
    <meta name="description" content="{{.Page.PageDescription}}">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="author" content="RudigoNews">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="" />
    <link rel="canonical" itemprop="url" href="/{{.Page.Slug}}">
    <meta name="keywords" itemprop="keywords" content="{{.Page.Tags}}">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
        rel="stylesheet">
    <link rel="icon" href="/static/images/rudigonewsicon.ico/" type="image/x-icon">
    <link rel="alternate" hreflang="en" href="/{{.Page.Slug}}">

    <meta property="article:section_url" content="/{{.Page.Slug}}">
    <meta property="article:published" itemprop="datePublished" content="{{.Page.DatePublished}}">
    <meta property="article:modified" itemprop="dateModified" content="{{.Page.DateModified}}">
    <meta property="article:publisher" content="https://www.facebook.com/RudigoNews/">
    <meta property="article:author" content="{{.Page.Author}}">
    <meta property="og:title" content="{{.Page.Title}}">
    <meta property="og:site_name" content="RudigoNews">
    <meta property="og:type" content="article">
    <meta property="og:url" content="/{{.Page.Slug}}">
    <meta property="og:description" content="{{.Page.PageDescription}}">
    <meta property="og:updated_time" content="{{.Page.DatePublished}}">

    <meta name="twitter:site" content="@rudigonews">
    <meta name="twitter:title" content="{{.Page.Title}}">
    <meta name="twitter:description" content="{{.Page.PageDescription}}">
    <meta name="twitter:creator" content="@rudigonews">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="{{.Page.Author}}">



    <!-- <link rel='dns-prefetch' href='//www.google-analytics.com' />
<link rel='dns-prefetch' href='//www.googletagmanager.com' /> -->
    <link rel='dns-prefetch'
        href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>
    <!--Header-->
{{template "header" .}}
  
    <!--//header-->
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <div class="row inner-sec">
                <!--left-->

                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    
                    <div>
                        <h1 class="post-title">
                            {{.Page.Title}}
                        </h1>
                        <br>
                        <div class="post-date">By <span><i class="far fa-user"></i> {{.Page.Author}}</span> | <time><i
                                    class="far fa-calendar-alt"></i> {{.Page.DatePublished.Format "Jan 02, 2006"}}</time> |
                            <span><i class="far fa-clock"></i> {{.Page.ReadTime}}</span>
                        </div>
                        <br>
                    </div>
                  
                    <br>
                    <!-- </div> -->
                    <div>
                        {{.Page.RawContent}}
                    </div>
                    <br>
                    <div>
                    {{if not .Loggedin}}
                    <a></a>
                    {{else}}
                     <a href="/admin/update?postslug={{.Page.Slug}}&action=pageedit"><button class="btn btn-info">Edit Page</button></a>
                    {{end}}
                    </div>
                    <hr>
                    <h3>Read the Latest News</h3>
                    <hr>
               <div class="row mb-4" style="margin-top: 20px;">
                 {{if not .Articles}}
                 <p>Nothing Here</p>
                 {{else}}
                 {{range $k, $post := .Articles}}
                 {{if (le $k 4)}}
                 <div class="col-md-6 card">
                     <a href="/{{$post.Slug}}">
                         <img src="/upload/{{$post.FeaturedImage}}" class="card-img-top img-fluid"
                             alt="{{$post.FeaturedImage}}">
                     </a>
                     <div class="card-body">
                         <ul class="blog-icons my-4">

                             <li>
                                 <a href="/category/{{$post.Category | ToLower}}"> {{$post.Category}}</a>
                             </li>

                         </ul>
                         <h5 class="card-title">
                             <a href="/{{$post.Category | ToLower}}/{{$post.Slug}}">{{$post.Title}}</a>
                         </h5>
                         <a href="/{{$post.Category | ToLower}}/{{$post.Slug}}" class="btn btn-primary read-m">Read Now</a>
                     </div>
                 </div>   
                 {{else if (gt $k 4)}} 
                 {{range $k, $post := (slice .Articles 0 4)}}
                     <div class="col-md-6 card">
                     <a href="/{{$post.Slug}}">
                         <img src="/upload/{{$post.FeaturedImage}}" class="card-img-top img-fluid"
                             alt="{{$post.FeaturedImage}}">
                     </a>
                     <div class="card-body">
                         <ul class="blog-icons my-4">

                             <li>
                                 <a href="/category/{{$post.Category | ToLower}}"> {{$post.Category}}</a>
                             </li>

                         </ul>
                         <h5 class="card-title">
                             <a href="/{{$post.Category | ToLower}}/{{$post.Slug}}">{{$post.Title}}</a>
                         </h5>
                         <a href="/{{$post.Category | ToLower}}/{{$post.Slug}}" class="btn btn-primary read-m">Read Now</a>
                     </div>
                 </div>
                 {{end}}
                 {{end}}        
                 {{end}}
                 {{end}}
                </div>
          
                </div>
                <!--//left-->
                <!--right-->
            {{template "sidebar" .}}
                <!--//right-->
            </div>
        </div>
    </section>
    <!--//main-->
{{template "footer" .}}
{{end}}