{{ define "content" }}

<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
	<div class="blog-grid-top">
		<h2 class="titlehead">
							<strong>
							ABOUT RUDIGONEWS
						</strong>
						</h2>
					

	<p> <strong>RudigoNews.com</strong> is one of the leading information providers in Nigeria; we deliver latest and essential information that can be of a great help to you our reader.
  As an informative and Educative site, we cover different categories such as:
</p>
  <p>
	 <a href="/category/news">NEWS</a><br>
	 <a href="/category/jobs">JOBS</a><br>
	 <a href="/category/education">EDUCATION</a><br>
	 <a href="/">and MUCH MORE</a>

	</p>			
  <p>We are devoted in investigating journalism poised to expose financial crimes,
	   job racketeering and other related scam or defrauding of any kind in Nigeria.
	</p>
	   <p><strong>FOR STUDENTS:</strong>The <a href="/category/tech">Tech</a> category will help you a lot as
		 we advance in our information and materials that will help you in your academics/projects as we provide quality and latest tach information.
	</p>	
	<p><strong>FOR THE GRADUATES/NON-GRADUATES:</strong> The <a href="/category/jobs">Job Vacancy</a> will do you good as well for current and recent job in the country, if you get a job from the information in this site is a credit to us and happiness to you.

If you have any additional suggestion, on how to improve our information dissemination, you can CONTACT US TODAY via our:
<a href="/contact">ContactUS Page.</a> 

<p>We operate with due diligence to the tenets of journalism woven around objectivity, fairness and balanced reports. Our editorial board is made up of individuals of proven integrity whose only reason of being in the profession is search for the truth.</p>
</p>
					<div class="comment-top">
						<h4>Leave a Comment</h4>
						<div class="comment-bottom">
							<form action="#" method="post">
								<input class="form-control" type="text" name="Name" placeholder="Name" required="">
								<input class="form-control" type="email" name="Email" placeholder="Email" required="">

								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">

								<textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
				 <div class="row mb-4" style="margin-top: 20px;">

               <div class="col-md-6 card">
							<a href="single.html">
								<img src="../static/images/4.jpg" class="card-img-top img-fluid" alt="">
							</a>
							<div class="card-body">
								<ul class="blog-icons my-4">
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i> Mar 25 .2018</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-comment"></i> 21</a>
									</li>
									<li>
										<a href="#">
											<i class="fas fa-eye"></i> 2000</a>
									</li>

								</ul>
								<h5 class="card-title ">
									<a href="single.html">Blog Post Title</a>
								</h5>
								<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
								<a href="single.html" class="btn btn-primary read-m">Read More</a>
							</div>
						</div>
						<div class="col-md-6 card">
								<a href="single.html">
									<img src="../static/images/3.jpg" class="card-img-top img-fluid" alt="">
								</a>
								<div class="card-body">
									<ul class="blog-icons my-4">
										<li>
											<a href="#">
												<i class="far fa-calendar-alt"></i> Feb 30 .2018</a>
										</li>
										<li class="mx-2">
											<a href="#">
												<i class="far fa-comment"></i> 21</a>
										</li>
										<li>
											<a href="#">
												<i class="fas fa-eye"></i> 2000</a>
										</li>
	
									</ul>
									<h5 class="card-title ">
										<a href="single.html">Blog Post Title</a>
									</h5>
									<p class="card-text mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt.. </p>
									<a href="single.html" class="btn btn-primary read-m">Read More</a>
								</div>
							</div>
                     </div>
				</div>


{{ end }}
