{{define "content"}}
<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
			<div class="blog-grid-top">
						<h2 class="titlehead">
							<strong>
							PRIVACY POLICY
						</strong>
						</h2>
							<p style="text-align: justify;">Welcome to <strong>RudigoNews</strong> website.
								 The following terms and conditions oversee your usage of this website and its
								  pages located at <a href="/" target="_blank">www.RudigoNews.com</a>&nbsp; 
								  Please read the terms and conditions carefully before accessing this website as they concern your
								   of this website. By using this website, you indicate you agree to the terms and conditions. 
								   <strong>WE RESERVE THE RIGHT, AT OUR DISCRETION, TO ADJUST, CHANGE, MODIFY, ADD OR REMOVE PARTS OF 
									   THESE TERMS AT ANY GIVEN TIME IN FUTURE.</strong></p>
						<p style="text-align: justify;"><strong>RudigoNews </strong>takes your privacy seriously.
							 We will not collect personal information about you unless you provide it to us willingly by 
							 emailing the website’s webmaster or by completing a mailing list sign-up form for information like news,
							  products etc. You are under no obligation to provide us with personal information. Personal information is name, age, street address, e-mail address etc. Our only aim in collecting
							 personal information from you when you visit the <strong>RudigoNews</strong> website is to:</p>
					<p>
					<ul style="text-align: center; list-style-type: none;">
						<li>Respond to your comments or requests for information</li>
						<li>Provide you with new product information and related <strong>RudigoNews</strong> articles</li>
						<li>Enter you in periodic free product giveaways.</li>
						</ul>
					</p>

						<p style="text-align: justify;">This agreement may not be amended or altered by the use of any supplementary document(s). Any attempt will be unacceptable and canceled unless if not agreed to in a written agreement signed by
							 <strong>RudigoNews</strong> and you.</p>
						<h3><strong>Quality of Information</strong></h3>
						<p style="text-align: justify;">All the information on this site is provided for general purposes only.
							 In spite of the effort made by <strong>RudigoNews</strong> to be accurate in her information,
							 it is not promising to ensure that all information is regularly kept complete and updated. 
							 RudigoNews does not assure 100% accuracy and dependability of information on this website, therefore, the information on this site may enclose some errors, technical inaccuracies and omissions.
							 Also not under obligation to commit to update any information enclosed in this website.</p>

						<p>All content included on this website is the property of RudigoNews and protected by the United States and international Copyrights
							law, both as a collective work and compilation, all rights reserved
						</p>
						<h3><strong> Availability </strong></h3>
						<p><strong>RudigoNews</strong> constantly updates its product folder. On a regular basis, RudigoNews adds new products, although availability may be indicated on its website, RudigoNews cannot gaurantee ordering availablity of its products.
						<strong>RudigoNews</strong> resevers the right, without charge or prior notuce, to ammend, discontinue, or cease to make available any or all of its products.
					</p>

				<h3><strong>Reviews</strong></h3>
				<p style="text-align: justify;">To the full extent permissible by applicable law, <strong>RudigoNews</strong> disclaims liability for any reviews posted on its websites.</p>
			<h3><strong>Trademarks</strong></h3>	
			<p style="text-align: justify;">All content included on this website, including text, images, graphics, logos, icons, digital downloads, is the property of <strong>RudigoNews</strong> and is protected by United States and international copyright laws. <strong>RudigoNews</strong> owns its trademarks related to its products, all rights reserved.
				 These marks are permitted to be used with express written authorization of <strong>RudigoNews</strong>.</p>			
			<h3><strong>Links to Other Website and Services</strong></h3>
			<p style="text-align: justify;"><strong>RudigoNews</strong> does not control the
				 availability or content of any websites linked to or from its website.
				 Read the terms and conditions of use posted on those sites.</p>
				 <p>At any time, you can desire to unsubscribe by clicking on the “unsubscribe” link in an email message from <strong>RudigoNews</strong>. <strong>WE</strong> will never sell or share your personal information with a third party. As you browse <a href="/" target="_blank">www.RudigoNews.com</a>.<em><br> </em></p>
		</div>
											

		<div class="comment-top">
						<h4>Leave a Comment</h4>
						<div class="comment-bottom">
							<form action="#" method="post">
								<input class="form-control" type="text" name="Name" placeholder="Name" required="">
								<input class="form-control" type="email" name="Email" placeholder="Email" required="">

								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">

								<textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
{{end}}