<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thank you - RudigoNews</title>
    <meta name="description" content="Thank you for subcibing">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="author" content="RudigoNews">

    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/subcss.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="/static/images/rudigonewsicon.ico/" type="image/x-icon">
    


    <!-- <link rel='dns-prefetch' href='//www.google-analytics.com' />
<link rel='dns-prefetch' href='//www.googletagmanager.com' /> -->
    <link rel='dns-prefetch'
        href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>
<body>
    <div class="thankyou-page">
        <div class="_header">
                  <h1>Thank You!</h1>
        </div>
        <div class="_body">
            <div class="_box">
                <h3>
                   Your email <strong>{{.}}</strong> has been subcribed to Rudigonews:)
                </h3>
                <p>
                    Thanks a bunch for subscribing. It means a lot to us, just like you do! We really appreciate
                    you giving us a moment of your time today. Thanks for being you.
                </p>
            </div>
        </div>
        <div class="_footer">
            <p>Having trouble? <a href="/contact">Contact us</a> </p>
            <a class="btn" href="/">Back to homepage</a>
        </div>
    </div>
</body>
</html>